language: node_js
node_js:
- '8'
matrix:
  fast_finish: true
cache:
  yarn: true
  directories:
  - node_modules
script:
- yarn lint
- yarn build # before tests since packages rely on dist/ files to be available
- yarn test --runInBand
before_deploy:
- git checkout master # otherwise git is in detached state
- echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc # for lerna to be able to publish on npm
- git remote set-url origin https://cozy-bot:$GITHUB_TOKEN@github.com/cozy/cozy-client.git # for lerna to be able to push commits
deploy:
  - provider: script
    skip-cleanup: true
    script: git checkout master && git remote set-url origin https://cozy-bot:$GITHUB_TOKEN@github.com/cozy/cozy-client.git && echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc && yarn lerna publish --yes
    on:
      branch: master
      repo: cozy/cozy-client
env:
  global:
    #  travis encrypt NPM_TOKEN=<token> -r cozy/cozy-client
    - secure: "ZPB/H6qbrMdIvSRy70tEg6+NyvcFkBsN+Gedm0kDP7Ks45EhZcO3CPsJcJiJpLK5iIpEm4FLM+OG8TPFt5XT58ohWBg/ucbKIaJ/ubnHgQWER4fbthddFxDzEfl5BjWL3WE03VwrXigrLC0KhGQ+4/D7OnlfgY+16+zvGyTGNsIrOxP+aKlw65AgnrTPXYCfvHh03J0BBvcfkbtZwU285DCQ/uNJ8+Ung1/EW9PSLLpWxouYKEzFd7FrwjMJxPTMT511lrBd0PuPZ38bMAUYW+WcEH28XKfFhHgSq2ktQitjNSAcoFewvqtj42S4rXKC8DO0JedYmeOWe9yk4Upj3+GVWZmiBlvxdEgWpADAJU8KOuOYaqokNehCJUT5EXfqsvrppWuTKDV5nhRVhTPmgVGOtGWrsVK/a9h/M68HLRT2Ugc7cZDCdpmCaUr5qZwAhPTgDcOiDvEa292VPhrN7Qpm202HU3Oz0LYk43MG6X9/r75EIPdJe8tq31iDQYh7FMxv5DF/XMuA9y3Tk6DsCPV2wxt+AgwWtPM/mllPN5kWfu3lh4p9z9SIcMJRfB1vPxdK3luotkeZP+MwoY41m5ViuDW7rtPcMOn2uEy1Wwk/bvGSdYUHL/eOyic6iy4uKJ1xKoJizx5//cwkYd91nImNay9xU5wDQf23JkI5ImY="
    #  travis encrypt GITHUB_TOKEN=<token> -r cozy/cozy-client
    - secure: "rNDmjPoBeBHTgOoZ4DZn64g4KbGxjqNjNEfjGD22Ogjqhoo9HD1JSIrOQZvo0LSY0vA8JoCs+w7Ic8o9FPlb2JFUR4my/ZMUJBhAC3mG5azN5GiMntjhK1yy8+XEum4WLUalT5RBDNfZ5gOpY9w9mqAMh+8CZ6/m4yQPgPmuy76YvFXxreH0bt6AjC20lleY30jwTpfb3U7aAY7VhRLKjOjzXLuEpmVBT9vbdkEycQfZwnA0dkHSjVEkfu1wuUUYb6/AJXXIm24AfjeZyG/duV6JcXk6G3SlIipQeJcfc826NMYcC+V/r1TaiXcIHWZCLi2sHsoGjWs37Hqd0cVuqWhKkCl0prhQExO5B8D+VplcPXKjWbU+U7Zru/8HZHV0uhubw2FjMAjRKWP4Hd1AmxQ4LQi3yASn026cyofYzdgwzd4Bws3dx+CxP8mk6fQdFlFCkF/TFux5zpPRP54Tesy93nTR0VoTZD2l20XwPy4KSoGYJeSkKAsApjm8Lfi27LS+71cvnccQ1I5O/TVB67l0GEeR1kyqOI+czQwT0Ft2xcRY4/ZB18QNYm2iEly8h1r1wdEjxwO8ZLnI+es9Nta+MsFuTwgnV24ScC45ZUuLanHeX9gkl4uK6IOq1S+tkhcRXNIgNDB9idqt3SwmbUCueX1uOtGizQHS+b3wbhY="
